@media all and (max-width: 992px) {
  .container {
    max-width: 100%;
  }

  section {
    width: 100%;
  }

  .col-18 {
    width: calc(25% - 10px);
  }

  #list-music .col-18 {
    width: 20%;
  }

}

@media all and (max-width: 768px) {
  .col-18 {
    width: calc(100% / 2 - 10px);
  }

  #list-music .col-18 {
    width: calc(100% / 3 - 20px);
  }

  .icon-interactive {
    display: flex;
    flex-direction: column;
  }
}

@media all and (max-width: 576px) {
  #left-bar span {
    display: none;
  }

  #playlist {
    display: none;
  }

  #profile hr {
    display: none;
  }

  .logo-big {
    display: none;
  }

  .logo-small {
    display: block;
  }

  #left-bar {
    width: 80px;
  }

  #profile,
  #menu {
    padding: 0;
  }

  .green-bar-l {
    display: none;
  }

  #content {
    width: calc(100vw - 80px);
  }

  #list-music .col-18 {
    width: calc(100% / 4 - 20px);
  }

  #info-music .row {
    flex-wrap: nowrap;
  }
}