* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

#logo {
  padding: 20px
}

#logo img {
  height: 60px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


#content {
  height: calc(100vh - 100px);
  background-color: #141922;
  width: calc(100vw - 250px);
  overflow-y: auto;
}


#menu {
  display: flex;
  width: 250px;
  height: calc(100vh - 100px);
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.btn {
  padding: 10px 30px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
}

section {
  margin: 20px;
}

/* Utility */
.m-20 {
  margin: 20px;
}

.my-20 {
  margin: 20px 0;
}

.wrapped {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.font-w {
  font-weight: 900;
}

.p-10-20 {
  padding: 10px 20px;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.small text {
  font-size: 12px;
}

h2,
h3 {
  color: white;
}

.gap-10 {
  gap: 10px;
}

.mr-25 {
  margin-right: 25px;
}


/* Liste */


#menu {
  color: white;
}

#menu ul li {
  color: white;
  padding: 10px 20px;
}

#menu ul li img {
  height: 40px;
  margin-right: 10px;
}

#profile img {
  height: 30px;
  margin-right: 10px;
}

.circle {
  border-radius: 50%;
}

hr {
  margin: 0 10px;
}

/* Content */

.info {
  margin: 40px 0;
}

#content ul {
  justify-content: center;
}

#content ul li {
  color: white;
  padding: 20px;
  list-style-type: none;
}

.col-18 {
  width: calc(100% / 6 - 10px);
}

.card-info {
  color: white;
  text-align: center;
}

.card-info h3 {
  margin: 10px;
}

h2 {
  margin-bottom: 15px;
}

.card-img img {
  width: 100%;
}

#content span,
footer span {
  color: grey;
}

/* Footer */

footer {
  height: 100px;
  background-color: #282828;
  display: flex;
}

footer img {
  height: 60px;
}


footer .icon {
  color: white;
}

#play {
  width: 250px;
  padding: 10px;
}

.icon i {
  padding: 0 5px;
}

.icon {
  display: flex;
}

.inline-block {
  display: inline-block;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}