* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
}

#logo {
  padding: 20px
}

#logo img {
  height: 60px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
}


#content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  background-color: #141922;
  width: calc(100vw - 250px);
  overflow-y: auto;
}

#left-bar {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: space-between;
  width: 250px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  border-radius: 25px;
  position: absolute;
  top: 25px;
  right: 25px;
}

section {
  margin: 20px;
}

/* Utility */

.font-40 {
  font-size: 40px;
}

.col-18 span {
  display: inline-block;
  color: grey;
}

.m-20 {
  margin: 20px;
}

.my-20 {
  margin: 20px 0;
}

.wrapped {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.font-w {
  font-weight: 900;
}

.p-10-20 {
  padding: 10px 20px;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.small text {
  font-size: 12px;
}

h2,
h3 {
  color: white;
}

.gap-10 {
  gap: 10px;
}

.gap-30 {
  gap: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-25 {
  margin-right: 25px;
}

.border-left-g {
  border-left: 5px solid greenyellow;
}

.border-bottom-g {
  border-bottom: 3px solid greenyellow;
}

.bg-grey {
  background-color: grey;
}

.white {
  color: white;
}

.text-center {
  text-align: center;
}

/* Liste */

#menu ul li,
#profile {
  color: grey;
}

#menu ul li {
  padding: 10px 20px;
}

#profile {
  padding: 5px 15px;
}

#menu ul li img {
  height: 40px;
  margin-right: 10px;
}

#profile img {
  height: 30px;
  margin-right: 10px;
}

.circle {
  border-radius: 50%;
}

hr {
  margin: 0 10px;
}

.relative {
  position: relative;
}

/* Content */

.green-bar {
  width: 50px;
  height: 3px;
  background-color:
    greenyellow;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, +100%)
}

.info {
  margin: 40px 0;
}

#content ul {
  justify-content: center;
}

#content ul li {
  color: white;
  padding: 20px;
  list-style-type: none;
}

.col-18 {
  width: calc(100% / 6 - 10px);
}

.card-info {
  color: white;
  text-align: center;
}

.card-info h3 {
  margin: 10px;
}

h2 {
  margin-bottom: 15px;
}

.card-img {
  position: relative;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#content span,
footer span {
  color: grey;
}

/* Footer */

footer {
  height: 100px;
  background-color: #282828;
  display: flex;
}

footer img {
  height: 60px;
}


footer .icon,
footer .icon-big {
  color: white;
}

#info-music {
  width: 250px;
  padding: 10px;
}

.icon,
.icon-interactive {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-interactive {
  color: grey;
}

.icon-big {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.inline-block {
  display: inline-block;
}

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#option-music {
  width: 50%;
  display: flex;
  justify-content: center;
}

#music-duration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bar-time {
  height: 5px;
  width: 70%;
  background-color: grey;
  border-radius: 5px;
  margin: 15px;
  position: relative;
}

.reproduced {
  width: 15%;
  height: 5px;
  background-color: #c1c1c1;
  position: absolute;
  top: 0;
  left: 0;
}

.music-time {
  color: white;
}

#audio-video {
  width: 250px;
  display: flex;
  align-items: center;
}

.bar-audio {
  height: 5px;
  width: 70%;
  background-color: grey;
  border-radius: 5px;
  margin: 15px;
  position: relative;
}

.audio {
  width: 40%;
  height: 5px;
  background-color: #c1c1c1;
  position: absolute;
  top: 0;
  left: 0;
}



/* Hover */

#left-bar span:hover,
#menu li:hover,
#list-music span:hover {
  color: white;
  cursor: pointer;
}

footer span:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.icon-interactive i:hover {
  color: white;
  cursor: pointer;
}

.reproduced:hover,
.audio:hover {
  background-color: yellowgreen;
  cursor: pointer;
}

.circle-bar {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  display: none;

}

.reproduced:hover .circle-bar,
.audio:hover .circle-bar {
  display: block;
}

.click {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click:hover {
  cursor: pointer;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.circle+.overlay {
  border-radius: 50%;
}

.card-img:hover .overlay {
  display: block;
}